.navbar-inverse{
    background-image: linear-gradient(to bottom,#FFC600 0,#f3e681 100%);
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.dropdown-menu{
	background-image: linear-gradient(to bottom,#FFC600 0,#f3e681 100%);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #000;
    background-image: linear-gradient(to bottom,#EAA00A 0,#f3e681 100%)
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
    background-image: linear-gradient(to bottom,#EAA00A 0,#f3e681 100%)
}
.logo-pan{
	width: 45px;
	height: 45px;
}
.navbar-brand{
	float: left;
	height: 50px;
	line-height: 20px;
	padding: 2px 20px;
}

.table-hover > tbody > tr:hover {
  background-color: #fffce2;
}